body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left-column {
    background-color: #333;
    color: #fff;
    width: 30%;
    padding: 20px;
}

.right-column {
    background-color: #fff;
    color: #000;
    width: 70%;
    padding: 20px;
}

.header {
    background-color: #f1c40f;
    padding: 10px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

img {
    width: 70%;
    border-radius: 50%;
}

h2 {
    margin-top: 20px;
    color: #f1c40f;
}

h3 {
    margin: 10px 0 5px;
}

.skill-bar {
    background-color: #ddd;
    width: 100%;
    margin: 5px 0;
}

.skill-level {
    background-color: #f1c40f;
    height: 10px;
}

